{% extends "auctions/layout.html" %}

{% block body %}

    <form action="{% url 'categories_result' %}" method=POST>
        {% csrf_token %}
        <select name="category" style="width: auto;">
            {% for category in categories %}
                <option value="{{category}}">{{ category }}</option>
            {% empty %}
                <h1>No one posted any type of product yet.</h1>
            {% endfor %}
        </select>
        <input type="submit">
    </form>

    {% for category in categories %}
        <h1 style="font-style: sans-serif; color:brown;">{{category}}</h1>
    {% endfor %}
{% endblock %}
    