{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Hello, {{product.owner_name}}. You are changing Bid for your item {{product.item_name}}</h1>
    <h2>Current Bid is {{product.price}}. New Bid must be greater than this.</h2>
    <div>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Change Bid !">
        </form>
    </div>

    <div>
        {%for message in messages%}
            {{message}}
        {% endfor %}
    </div>
{% endblock %}