{% extends "auctions/layout.html" %}

{% block body %}
    <div class="alert alert-info" role="alert">
        <h1>Creating Listing.</h1>
    </div>
    
   <form  method="post">
       {% csrf_token %}
        <div>
            <label>Your product name : {{form.product_name }}</label>
            <label>Category :- {{form.category}}</label>
            <label>Link to an image (Optional):- {{form.link}}</label>
        </div>
       
       <label>Product Description (Optional): </label>
       <input type="submit" value="Click here to add.." style="float: right; margin-right: 255px;">
       <div>{{form.product_description}}</div>
       

       <label>Give initial Bid :-</label>
       <div>{{form.price}}</div>
   </form>
{% endblock %}