{% extends "auctions/layout.html" %}

{% block body %}


    <div class="container" id="listings">
        <div class="card mb-3" style="max-width: 540px;" id="card-listings">
            <div class="row no-gutters">

                    <div class="col-md-4">
                        <img src="{{item.link}}" class="card-img" alt="...">
                    </div>

                    <div class="c">
                        <div class="card-body">
                            <h5 class="card-title">{{item.item_name}}</h5>
                            <p class="card-text">{{item.description}}</p>
                            <p class="card-text">${{item.price}}</p>
                            <p class="card-text">{{item.category}}</p>
                            {% if user.is_authenticated %}
                                <a href="{% url 'bid_now' item.pk %}"><button class="btn btn-primary">Bid Now!</button></a>
                                <a href="{% url 'add_to_watchlist' item.id %}"><button class="btn btn-outline-success">Add to WatchList!</button></a>
                            {% else %}
                                <a href="{% url 'login' %}"><button class="btn btn-primary">You have to log in for Biding!</button></a>
                            {% endif %}
                            <p class="card-text"><small class="text-muted">{{item.time}}</small></p>
                            <a href="#">Posted by {{item.owner_name }}</a>
                        </div>
                    </div>

            </div>
        </div>

        {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                <label>Comment :- </label>
                <div class="Comment_Field">
                    {{comment.comment}}
                </div>
                <div>
                    <input type="submit" value="Comment.">
                </div>
            </form>
        {% endif %}
    </div>

    
    <div>
        <div class="container" id="listings">
            <h2>Comments on this item.</h2>
        </div>
        
        <div class="container" id="listings">
            {% for comment in list_of_comments %}
                <div class="card mb-3" style="max-width: 540px;" id="card-listings">
                    <div class="row no-gutters">
    
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">{{comment.comment}}</p>
                                <p class="card-text"><small class="text-muted">Commented on {{comment.time}}</small></p>
                                <a href="#">Commented by {{comment.person}}</a>
                                
                            </div>
                        </div>
    
                    </div>
    
                </div>
            {% empty %}
                <div>No Comments.</div>
            {% endfor %}
        </div>
        
    </div>

    <h1>All Bids on this item is here ...</h1>
    <div>
        <ul>
            {% for bid in all_bids %}
                <li>{{bid.Bid}} by {{bid.bid_by}} on {{bid.on_product}}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}


