{% extends "auctions/layout.html" %}

{% block body %}
    {% for product in list_of_product %}
    <div class="card mb-3" style="max-width: 540px;" id="card-listings">
        <div class="row no-gutters">

            <div class="col-md-4">
                <img src="{{item.link}}" class="img-fluid" alt="{{item.item_name}}">
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{product.item_name}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <p class="card-text">${{product.price}}</p>
                    <p class="card-text">{{product.category}}</p>
                    <a href="{% url 'change_Bid' product.id %}"><button class="btn btn-primary">Change Bid!</button></a>
                    <a href="{% url 'item_details' product.id %}"><button class="btn btn-info">View this item.</button></a>
                    <div class="mt-2 col-md-12">
                        <a href="{% url 'close_bid' product.id %}"><button class="btn btn-info">Close Bid.</button></a>
                        <a href="{% url 'delete_bid' product.id %}"><button class="btn btn-danger">Delete this Bid.</button></a>
                    </div>
                    <p class="card-text"><small class="text-muted">{{product.time}}</small></p>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
        <div class="alert alert-warning" role="alert">
            <li>You have not created any listing yet.</li>
        </div>
        
    {% endfor %}
{% endblock %}